.navbar {
    background-color:black;
    display:flex;
    justify-content: space-between;
  }
  .wrapper{
    background-color:black;
  }
  
  .all{
    background-color:black;
    display:flex;
    justify-content:center;
    color:white;
    font-size:30px;
    font-family:'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  
  #free{
    padding:
  }

  .netflix {
    width: 40px;
    length: 60px;
    
  }
  .signin {
    background-color:red;
    margin:55px;
    color:white;
    border-radius:10px;
    height:45px;
    width:75px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:16px;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-color:red;
  }
   
    .whitewords {
     
      background-color:black;
        text-align:center;
        color:white;
        font-size:30px;
        font-family:'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin:0px;
    }
    .greenbar {
      height:40px;
      width:400px;
      background-color:limegreen;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      margin:0px 0px 0px 150px;
      color:limegreen;
      display:flex;
      justify-content: space-evenly;
    }
#green {
  color:limegreen;
  float:left;
  background-color:black;
}
.ready{
  color:white;
  background-color:black;
  font:50px;
  text-align:center;
  font-family:'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size:20px;
  
}
.box{
display:flex;
align-items: center;
}